.blog-container {
    display: grid;
    display: flex;
    flex-flow: column wrap;
    margin: 10px;
    padding: 1%;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.blog-container p {
    display: block;
    max-width: 50%;
}

.rome {
    font-style: italic;
}

.under {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}