@import "blog.css";
@import "footer.css";
@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


/* Global layout set-up */
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #222;
	background: #f7f5f0;
}

header {
    background: url(../images/nepal.jpg);
    background-size: cover;
    line-height: 1.5;
    text-align: center;
    overflow: hidden;
	padding-top: 60px;
}

.container{
   display:grid;
   grid-template-rows: 200px 200px 200px;
   border: 1px solid greenyellow;
   margin: 10px;
   justify-content: center;
}

.box {
    display:flex;
    display: block;
    flex-flow: wrap;
    border: 1px solid gray;
    margin: 10px;
    justify-content: center;
    align-content: center;
    text-align: center;
}

img {
    width: 50%;
    height: auto;
}

.card {
	margin: 30px;
	padding: 20px 40px 40px;
	max-width: 500px;
	text-align: left;
	background: #fff;
	border-bottom: 4px solid #ccc;
	border-radius: 6px;
	transition: all .5s;
}
.card:hover {
    border-color: #ff99ff;
}


@media (min-width:720px){
.container{
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 30vw 30vw;
    justify-content: space-around;
}
header{
    min-height: 300px;
}

footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
}

.resize {
    width: 400px;
    height: auto;
}

}